.about-container {
    row-gap: 2rem;
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: $mb-4;
}


.about-img{
    width: 9.375rem;
    border-radius: .5rem;
    margin: 0 auto;
}

.about-information{
    margin-bottom: $mb-4;
}

.about-information-title{
    font-size: $h3-font-size;
    color: $first-color-dark;
    margin-bottom: $mb-2;
}

.about-information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: $mb-3;
}

.about-information-icon{
    font-size:1.5rem;
    color:$first-color;
    margin-right: $mb-4;
}

.about-information-subtitle{
    display:block;
    font-weight: $font-semi-bold;
}

.about-information-subtitle-small{
    font-size:$small-font-size;
}
