
.works-container{
     justify-items: center;
     row-gap: 2rem;
}

.works-img{
     position: relative;
     overflow: hidden;
     border-radius: .5rem;
}

.works-data{
    position:absolute;
     bottom:-100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204,75 ,44 ,.7 );
    border-radius: .5rem;
    transition: .3s;
}

.works-link{
    display:inline-flex;
    font-size: 1.5rem;
    background-color:$first-color-lighten;
    color: $first-color;
    padding:.25rem;
    margin-bottom:$mb-2;
    border-radius: .25rem;
}

.works-title{
    font-size: $h2-font-size;
    color: $first-color-lighten;
}

.works-img:hover .works-data{
    bottom:0;
}